
<h3>
  RxJS operators are a powerful feature of Angular that allow you to manipulate
  and transform streams of data.
</h3>
<div class="container justify-content-center align-items-center my-md-5 shadow">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="\assets\reduce.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">REDUCE</h5>
          <div class="card-text">
            The Reduce operator applies an accumulator function over the values
            emitted by the source Observable sequentially and returns the
            accumulated result when the source completes.reduce() method in
            JavaScript is used to reduce the array to a single value and
            executes a provided function for each value of the array (from left
            to right) and the return value of the function is stored in an
            accumulator.
          </div>
        </div>
      </div>
    </div>
    <div class="col" >
      <div class="card h-100">
        <img src="\assets\map method.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">MAP</h5>
          <p class="card-text">
            RxJS map() operator is a transformation operator used to transform
            the items emitted by an Observable by applying a function to each
            item.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="\assets\filterr.png" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">FILTER</h5>
          <p class="card-text">
            The filter filter allows us to filter an array, and return an array
            containing only the matching items. This filter can only be used for
            arrays.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container justify-content-center align-items-center my-md-5 shadow">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Observable()</h5>
          <div class="card-text">
            In RxJS, an observable is a function that is used to create an
            observer and attach it to the source where values are expected from.
            For example, clicks, mouse events from a DOM element or an Http
            request, etc.
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Subscribe()</h5>
          <p class="card-text">
            Normally Subscription means an arrangement to receive something.
            Similarly, in Angular applications Observables will be connected to
            observers and whenever they observe a new value or change in data,
            they will execute code with the help of Subscription and all the
            subscribed components will receive the updated outcome.
          </p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">Subject</h5>
          <p class="card-text">
            An RxJS Subject is a special type of Observable that allows values
            to be multicasted to many Observers.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- </div>
</div> -->

<!-- merge operator -->

